.messageContainer {
    background: lightGreen;
    padding: 0.5em 1em;
    width: 25em;
    height: 6em;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    border-radius: 0.6em;
}

.messageContainer .message {
    color: green;
    display: flex;
    align-items: center;
    margin: 0 auto;
}